body{
    margin: 0px;
    font-family: 'Noto Sans KR';
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

#undo, #exit_login_main, #exit_addCup_main{
    display: flex;
    position: fixed;
    border: 4px solid #385023;
    border-radius: 30px;
    justify-content: center;
    line-height: 24px;
    align-items: center;
    width: 96px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    color: #385023;
    top: 24px;
    left: 24px;
}

#header_main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    background-image: url("/public/img/Header_Backgroung_Image.png");
    background-repeat: no-repeat;
    background-size : contain;
    background-position: center bottom;
}

#header_history{
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 24px;
}

.header_history_cup{
    display: flex;
    align-items: flex-end;
}

#header_history_cupA > span > p{
    line-height: 16px;
    font-size: 16px;
}
#header_history_cupB > span > p{
    text-align: right;
    color: #3F562A;
    line-height: 24px;
    font-size: 24px;
}
#header_history_cupA > span > #cupA{
    line-height: 24px;
    font-size: 24px;
}
#header_history_cupB > span > #cupB{
    line-height: 32px;
    font-size: 32px;
}


#header_button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.7);
}

#history{
    display: flex; justify-content: center; align-items: center;
    flex: 1;
    height: 100%;
    margin: 0px 16px;
    border-radius: 40px;
    text-align: center;
    font-size: 28px;
    background-color: #5E813F;
    color: white;
}

#share{
    display: flex; justify-content: center; align-items: center;
    float: right;
    width: 56px; height: 56px;
    margin-right: 16px;
    border-radius: 40px;
    text-align: center;
    font-size: 28px;
    background-color:gainsboro;
    border: 2px solid gray;
    color: black;
}

#middle, #middle_history{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#middle{
    margin-bottom: 176px;
}

#current, .history_cup{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin: 32px 24px;
}

#history_cup, #history_count{
    margin: 0;
    margin-bottom: 24px;
    padding: 0px 24px;
}

#current_sub_p, #history_sub_p{
    font-size: 16px;
    line-height: 16px;
    color: #7C621E;
}

.current_news, #history_cup_month{
    margin: 8px 0px;
    line-height: 28px;
    font-size: 24px;
    word-break: keep-all;
}

.history_cup_group{
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}

.history_cup_used{
    display: flex;
    margin: 4px 0px;
}

.history_cup_used_bar{
    height: 24px;
    margin-right: 8px;
}

#used_cup{
    width: 32px;
    font-size: 24px;
    line-height: 24px;
}

.history_count_group{
    margin-top: 16px;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
}

.history_count_group p{
    text-align: center;
    font-size: 24px;
}

#amount_discount, #amount_get{
    font-size: 32px;
    color: #466827;
}

#used_cupA_bar{background: linear-gradient(to right, #ffffff, #9A9A9A);}
#used_cupB_bar{background: linear-gradient(to right, #ffffff, #466827);}


#footer_main{
    position: fixed;
    width: 100%;
    height: 176px;
    bottom: 0;
    font-size: 20px;
    background: linear-gradient(to top, #ffffff 90%, rgba(255,255,255,0));
}

#footer_button{
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    margin: 24px 24px;
    height: auto;
    vertical-align: bottom;
}

.footer_button_each{
    color: black;
    text-align: center;
}

#MyInfo, #News{
    width: 80px;
    height: auto;
}

#AddCup{
    width: 96px;
    height: auto;
}

#login_main, #addCup_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#login_Form, #SignUp_Form, #MyInfo_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 480px;
    background-color: #ffffff;
    text-align: center;
}

#submit_Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 0;
    height: auto;
}

#submit_Div div{
    margin: 4px 0;
    font-size: 16px;
}

#submit_Div input{
    width: 70%;
    height: 36px;
}

#login_Form button, #SignUp_Form button, #MyInfo_main button{
    width: 80%;
    height: 48px;
    border-radius: 20px;
    font-size: 32px;
}

#goSignUp, #goSignIn{
    color: gray;
    margin: 8px auto;
    width: 100px;
}


#addCup_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 440px;
    background-color: white;
    text-align: center;
}

#benefit_buttonDiv{
    display: flex;
    justify-content: space-between;
    background-color: #CEFDAF;
    margin: 8px auto;
    padding: 0 8px;
    border-radius: 20px;
    width: 75%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

#benefit_buttonDiv label{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
}

#benefit_buttonDiv input{
    width: 24px;
    height: 24px;
}

#discount_input{
    margin: 4px auto;
    font-size: 20px;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
}

#discount_input input{
    height: 32px;
}

#selectCup_div{
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    width: 85%;
}

.selectCup_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 32px;
    font-size: 24px;
    opacity : 0.5
}

#selectCup_plastic{
    border: 4px solid #743411;
    background-color: #F1CDB1;
    color: #743411;
}
#selectCup_reusable{
    border: 4px solid #394F25;
    background-color: #CEFDAF;
    color: #394F25;
}

#addCup_button{
    margin: 8px auto;
    width: 80%;
    height: 64px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 40px;
    font-size: 28px;
    background-color: #5E813F;
    color: white;
}

@media screen and (min-width : 480px){
    #addCup_div{
        margin: 0 auto;
        width: 480px;
    }
}

@media screen and (min-width : 640px){
    body, #footer_main{
        margin: 0 auto;
        width: 640px;
    }

    #login_Form, #SignUp_Form, #MyInfo_main{
        width: 512px;
    }

}